@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities */
.reveal-view {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal-view.visible {
  opacity: 1;
  transform: translateY(0);
}
